/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --base-color: var(--accent-color);

  --text-color: #F1B2CE;  
  --text-decor-color: var(--bg-color);

  --logo-color: #DB00FF;
  --logo-shadow-color: #FF0070;
  --cover-image: url(../images/cover-image-dark.png);
}