/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --base-color: var(--text-color);
  --text-color: #353430;  
  --text-decor-color:: var(--text-color);
  --logo-color: #FFC2E6;
  --logo-shadow-color: #FF0070;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --base-color: var(--text-color);
    --text-color: #353430;  
    --text-decor-color:: var(--text-color);
    --logo-color: #FFC2E6;
    --logo-shadow-color: #FF0070;
    --cover-image: url(../images/cover-image-light.png);
  }
}